# export ECHO_VLA_ROOT=/path/to/EchoVLA
# export ECHO_MOMANI_DATASET=/path/to/robocasa365/.../NavigateKitchen/.../lerobot
# export ECHO_ROBOCASA365_DATA=/path/to/robocasa365-datasets
# export ECHO_MOMANI_OFFICIAL_HDF5=/path/to/NavigateKitchen/demo.hdf5
# export ROBOCASA_SRC=/path/to/robocasa
# export ROBOSUITE_SRC=/path/to/robosuite
